<section id="studentsRate">
  <section id="rate">
    <section id="eachStudent">
      <a href="/student/{{this._id}}">
      <h3>{{this.name}}</h3>
      <div>
        <figure><img src="{{this.avatarUrl}}" alt="photo {{this.name}}"></figure>
      </div> 
      <h1 class="rate title">Student's Rate</h1>
      <table class="rates">
        <tr class="rates-titles">
          <th>Subjects</th>
          <th>1st Exams </th>
          <th>2nd Exams </th>
          <th>Final Exams</th>
          <th>Rate of Year</th>
        </tr>
        <tr>
          <td class="subject">Grammar</td>
          <td>1st rate</td>
          <td>2nd rate</td>
          <td>final exams</td>
          <td>rate of year</td>
          <button>Edit</button>
          <button>Delete</button>
        </tr>
        <tr>
          <td class="subject">Math</td>
          <td>1st rate</td>
          <td>2nd rate</td>
          <td>final exams</td>
          <td>rate of year</td>
          <button>Edit</button>
          <button>Delete</button>
        </tr>
        <tr>
          <td class="subject">Science</td>
          <td>1st rate</td>
          <td>2nd rate</td>
          <td>final exams</td>
          <td>rate of year</td>
          <button>Edit</button>
          <button>Delete</button>
        </tr>
      </table>
    </section>  
