{{!-- MAIN/ home page --}}
<section id="home-auth">
  <div class="top-header">
    <img class="img" src="/images/strongSchools.png" alt="logo">
    <h1>WELCOME TO STRONG SCHOOLS SYSTEM</h1>
  </div>

  <div id="container-main">
      <div class="col-auth">
        <form action="/student" method="POST">
          <div class="roles-box">
            <input type="radio" name="role" value="Student" checked> Student<br>
            <input type="radio" name="role" value="Teacher"> Teacher<br>
          </div> 
          <div class="label-box">
            <label for="username">
              User:
              <input class="signInput" type="text" name="username" id="username">
            </label>
            <label for="password">
              Password:
              <input type="password" name="password" id="password">
            </label>
          </div>
          <button class="signup-btn" type="submit">Sign In</button>
          {{#if errorMsg }}
            <div class="error-message">{{ errorMsg }}</div>
          {{/if}}
        </form>
    </div>  
</section>  

{{!-- <section id="carroussel">
  <div class="carroussel-img">
    <figure><img src="/images/carroussel.jpg"  alt="school-images"></figure>
  </div>
  <div class="carroussel-img">
    <figure><img src="/images/carroussel4.jpg"  alt="school-images"></figure>
  </div>
  <div class="carroussel-img">
    <figure><img src="/images/carroussel3.jpg"  alt="school-images"></figure>
  </div>
  <div class="carroussel-img">
    <figure><img src="/images/carroussel2.jpg" alt="school-images"></figure>
  </div>
</section> --}}





