{{!-- HTML's pages --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="shortcut icon" type="image/jpeg" href="/images/strongSchools.png"/>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Permanent+Marker" rel="stylesheet">
  <title>Strong Schools</title>
</head>
<body>
  <header id="header"><a href="/logout"><button class="logout">Log out</button></a></header>

  {{{body}}}
<script src="/js/main.js"></script>
</body>
</html>