<section id="panel-teacher">
  <figure class="edu-logo"><img src="/images/logoEducation.png"></figure>
  <h2>Hello {{teacher.name}}</h2>
  <div>
    <div class="view-rates">
      <a href="/teacher/rate">
        <h4>VIEW RATES</h4>
      </a>
    </div>
    <div class="new-rates">
      <a href="/teacher/addRate/{{teacher._id}}">
        <h4>NEW RATES</h4>
      </a>
    </div>
  </div>
</section>

