<section id="panel-teacher">
  <figure class="edu-logo"><img src="/images/logoEducation.png"></figure>
  <div>
    <div class="view-rates">
      <a href="/rates">
        <h4>VIEW RATES</h4>
      </a>
    </div>
    <div class="new-rates">
      <a href="/createRate">
        <h4>NEW RATES</h4>
      </a>
    </div>
  </div>
</section>