<section id="studentsRate">
  <section id="Students-ID">
    <figure class="school-logo" >
      <img src="/images/strongSchools.png" alt="logo-school">
    </figure>
    <div class="id-Stu">
      <h1 class="students">Student's Rate</h1>
      <h3 class="eachStudent">Name: {{student.name}} {{student.lastname}}, {{student.grade}}ºAno</h3>
      <ul>
        <li>{{student.birthDate}}</li>
      </ul> 
    </div>
  </section>

  <section id="rate">
    <table class="rates">
      <tr class="rates-titles">
        <th>Subjects</th>
        <th>1st Exams </th>
        <th>2nd Exams </th>
        <th>Final Exams</th>
        <th>Rate of Year</th>
      </tr>
      <tr>
        <td class="subject">Grammar</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">Math</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">Science</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">Earth Science</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">Physical Education</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">Social Education</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">Arts and Music</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">French</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">Spanish</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>

      <tr>
        <td class="subject">Digital Technologies</td>
        <td>1st rate</td>
        <td>2nd rate</td>
        <td>final exams</td>
        <td>rate of year</td>
      </tr>
    </table>
  </section>
</section>