<section id="Students-ID">
  <img class="school-logo" src="./images/strongSchools.jpeg" alt="logo-school">
  <h1 class="students">Student's Rate</h1>
  <h3 class="eachStudent">${name}, ${grade}</h3>
</section>

<section id="rate">
  <table class="rates">
    <tr class="rates-titles">
      <th>Subjects</th>
      <th>1st Exams </th>
      <th>2nd Exams </th>
      <th>Final Exams</th>
      <th>Rate of Year</th>
    </tr>
    <tr>
      <td>Grammar</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

    <tr>
      <td>Math</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

    <tr>
      <td>Science</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

    <tr>
      <td>Earth Science</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

     <tr>
      <td>Physical Education</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

    <tr>
      <td>Social Education</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

    <tr>
      <td>Arts and Music</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

    <tr>
      <td>French</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

    <tr>
      <td>Spanish</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>

    <tr>
      <td>Digital Technologies</td>
      <td>1st rate</td>
      <td>2nd rate</td>
      <td>final exams</td>
      <td>rate of year</td>
    </tr>
  </table>
</section>