<img src="../images/strongSchools.jpeg" alt="logo-school">
<h1>Student's Rate</h1>
<h3>nome, grade</h3>
<section id="rate">
  <table>
    <tr>
      <th>Subjects</th>
      <th>1st Exams </th>
      <th>2nd Exams </th>
      <th>Final Exams</th>
      <th>Rate of Year</th>
    </tr>
    <tr>
      <td>Grammar</td>
      <td>Math</td>
      <td>Science</td>
      <td>Earth Science</td>
      <td>Physical Education</td>
      <td>Social Education</td>

      <td>Arts and Music</td>
      <td>French</td>
      <td>German</td>
      <td>Digital Technologies</td>
    </tr>

    <tr>
      <td>Grammar</td>
      <td>Math</td>
      <td>Science</td>
      <td>Earth Science</td>
      <td>Physical Education</td>
      <td>Social Education</td>

      <td>Arts and Music</td>
      <td>French</td>
      <td>German</td>
      <td>Digital Technologies</td>
    </tr>

    <tr>
      <td>Grammar</td>
      <td>Math</td>
      <td>Science</td>
      <td>Earth Science</td>
      <td>Physical Education</td>
      <td>Social Education</td>

      <td>Arts and Music</td>
      <td>French</td>
      <td>German</td>
      <td>Digital Technologies</td>
    </tr>

    <tr>
      <td>Grammar</td>
      <td>Math</td>
      <td>Science</td>
      <td>Earth Science</td>
      <td>Physical Education</td>
      <td>Social Education</td>

      <td>Arts and Music</td>
      <td>French</td>
      <td>German</td>
      <td>Digital Technologies</td>
    </tr>
  </table>
</section>