<section id="teacher-view">
  <div id="teacher-aplication">
    <figure class="edu-logo"><img src="/images/logoEducation.png"></figure>
      <h2>Hello 
        <span>{{teacher.name}}</span>
      </h2>
  </div>
  <div class="new-rates pc-hidden">
    <a href="/teacher/addRate/{{teacher._id}}">
    <h4>New Rates</h4>
    </a>
  </div>
  <div class="students-rates">
    {{#if msg}}
      <div class="msg">{{msg}}</div>
    {{/if}}
    {{#each rates}}
      {{> rateCard this}}
    {{/each}}
  </div>
  <div class="clear-fix"></div>
  <div class="new-rates mobile-hidden">
    <a href="/teacher/addRate/{{teacher._id}}">
    <h4>New Rates</h4>
    </a>
  </div>
</section>
