<section id="teacher-aplication">
  <div id="teacher-card">
    <h3>Hello {{teacher.name}}</h3>
  </div>
  <div class="students-rates">
    {{#each rates}}
      {{> rateCard this}}
    {{/each}}
  </div>
</section>
