*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Amatic SC', cursive;
}
/* INDEX VIEW */
#home-auth{
  height: 65vh;
  background-color: #7ACDD1;
  font-size: 40px;
  color: rgb(104, 33, 33);
  text-align: center;
}
.top-header{
  padding-bottom: 20px;
}
#container-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col-auth {
  text-align: center;
  width: 300px;
  margin-left: -80px;
}
.label-box{
  display: flex;
  flex-direction: column;
  width:300px;
  margin-left: -50px;
}
.signInput{
  width: 220px;
  font-family: 'Amatic SC', cursive;
  border-radius: 10px;
  font-size: 0.5em;
}
.password{
  font-family: 'Amatic SC', cursive;
  border-radius: 10px;
  font-size: 0.5em;
}
.signup-btn{
  background-color: #F15E46;
  border-radius: 30px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 0.5em;
  border: 2px solid rgb(104, 33, 33);
  margin: 30px 0 0 30px;
  width:100px;
  height: 45px;
}
#image-mkt{
  background-color: rgb(206, 159, 7);
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}
/* ########################################################### */
/* STUDENTS VIEW */
.error-message{
  border: 7px solid #F15E46;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 0.5em;
  color:#F15E46;;
}
#studentsRate{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
#rate{
  border: 7px solid rgb(0, 101, 114);
  background-color: #7ACDD1;
  display: flex;
  flex-wrap: row;
}
table{
  margin: 40px 40px;
}
td{
  font-size: 1.2em;
}
.rates{
  padding: 15px 20px;
  border: 1px solid black;
  background-color: whitesmoke;
}
.rates-titles{
  color: rgb(248, 191, 3);
}
.subject{
  color: rgb(206, 159, 7);
  border-bottom: 2px solid rgb(248, 191, 3);
}


#news{
  border: 7px solid #F15E46;
  padding: 10px;
  margin: 20px 20px;
}
.video{
  font-size: 1.5em;  
  color: rgb(104, 33, 33);
}
.video, .menu{
  padding: 20px 20px;
}
.iframe{
  width: 400px;
  height: 230px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.items-menu td{
  text-align: center;
  padding: 0 5px;
}
.hour{
  padding-right: 1.5em;
}
.menu{
  background-color: #7ACDD1;
  border-bottom: 7px solid #F15E46;
  border-top: 7px solid #F15E46;
  padding-top: 40px;
  display: flex;
  align-content: center;
}
.activites{
  margin: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.courses{
  font-size: 1em;  
  padding: 30px;
}
.events{
  font-size: 1.5em;  
  color: rgb(104, 33, 33);
  text-align: center;
 }
/* ########################################################### */
 /* TEACHER VIEW */
#teacher-aplication{
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
#teacher-card{
  border: 7px solid #F15E46;
}
/* ########################################################### */
/* CREATE RATE */
.design{
  margin-bottom: 35px;
}
#create-rate{
  height: 100vh;
  background-color: #7ACDD1;
  font-size: 40px;
  color: rgb(104, 33, 33);
  text-align: center;
}
#create-rate-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#create-rate-form select,
#create-rate-form input{
  font-family: 'Amatic SC', cursive;
  border-radius: 10px;
  margin: 10px 0 10px 20px;
  background-color: #006572;
  color: #7ACDD1;;
  font-size: 0.5em;
  height: 35px;
  width: 200px;
}
#create-rate label{
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.send-btn{
  margin-top: 40px;
  font-family: 'Amatic SC', cursive;
  width:100px;
  height: 45px;
  font-family: 'Amatic SC', cursive;
  background-color: #F15E46;
  border-radius: 15px;
  padding: 5px;
  font-weight: bold;
  font-size: 0.5em;
  cursor: pointer;
}